*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
  
}
.header-main{
    background-color: #000000;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-color: #000000;
    
}
.logo-container{
    margin-left: 11rem;
}

.link-container{
    display: flex;
    gap: 2rem;
    margin-right: 15rem;
    justify-content: space-between;
}
.link-container a {
    text-decoration: none;
    color: white;
}
.hero-h1 span{ color: #FFBB00;
    margin: 0;}

.hero-text{
    color: white;
}
.hero-text h1{
    font-size: 4.5rem;
    font-weight: 700;
}
.hero-p{
    color: #9C9C9C;
    font-size: 1.5rem;
    
}

.hero-container{
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 4rem 11rem;
    justify-content: space-between;
}
.hero-button{
    background-color: #FFBB00;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1.2rem;
    border-radius: 0.5rem;
    font-weight: 600;

}
.hero-button:hover{transition: 0.2s; 
    background-color: #a66f00;
    cursor: pointer;}
.imag-container{
    width: 40rem;
    height: 50rem;
    margin-bottom: -10rem;
}
.hero-escolha{
    display: grid;
    grid-template-columns: 3;
    
}
.bicicleta-lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 60px 10.5rem 7.5rem 10.5rem;
    list-style: none;
     
}

.bicicleta-lista li{
    text-align: center;
}

.bicicleta-lista a{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bicicleta-lista img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.bicicleta-lista h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.bicicleta-lista span{
    font-size: 1.2rem;
    color: #FFBB00;
    font-weight: 600;
}
.contanier-h2x2{
    font: 600 4rem / 1.125 "Poppins", sans-serif;
    padding-top: 6.87rem;
    margin-left: 15rem;
    box-sizing: border-box; 
}
.bicicleta-lista li:nth-child(3) {
  grid-column: 3;
}